<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="user name">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- sign up -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/signup">dont have an account ? sign up here</a>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
