<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- sign up Form -->
    <form>
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
      <input type="text" id="name" class="fadeIn third" name="fullname" placeholder="full name">
      <input type="text" id="adress" class="fadeIn third" name="adress" placeholder="adress">
      <input type="text" id="username" class="fadeIn third" name="username" placeholder="user name">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- sign in  -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/login">Already have an account ? sign in here</a>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
