


<div class="row center" style="margin-left:7% ;">

    <div class="card-deck col-md-3" *ngFor="let item of items">
    <app-home-item  [item]="item" ></app-home-item>
    </div>

</div>


<style>
.center {
  margin: auto;
  padding: 25px;
}
</style>
<!--
<div >
  <div class="card">
    <img class="card-img-top" src="assets/images-and-icons/Image@1x.png" alt="Card image cap">
    <div class="card-body">
      <a class="card-link">name</a><a class="card-link" >5</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div> -->
